$primary-color: #7ED321;

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 66%;

}

.logo {
  width: 30px;
}

.nav-list {
  display: flex;
  column-gap: auto;
  list-style: none;
  width: 35%;
  overflow: hidden;
}

.nav-list > li {
  margin: auto;
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}
