.nav_logo {
  background-image: url(https://res.cloudinary.com/dsgm6btt5/image/upload/v1694408572/mstile-310x310_h7hzcm.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
}
